nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}

header{
    /* background-color: aquamarine; */
    background-color: rgb(55, 252, 29);

}

/* ul{
    display: inline;
    justify-content: space-between;
    align-items: center;
} */

li{
    display: inline;
    margin: 1em;
    background-color: rgb(5, 133, 136);
    padding: .5em 1em;
    color: white;
    border-radius: .3em;
}